.cabecalho-imagem{
    width: 10%;
    margin-left: -150px;
    margin-top: 5px;
}

.cabecalho {
    background-image: linear-gradient(#02aec5, #a5a5a5 , #3be8ff );
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 64px;
    font-size: 32px;
}

*{
    margin: 0;
    padding: 0;
}

.escola-imagem{
    width: 30%;
    margin-left: -1500px;
}

.escola{
    background-image: linear-gradient(#00E0FF,#41e9ff, #88f0fd, #bef6fd, white);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

}
