.cabecalho-imagem{
    width: 10%;
    margin-left: -150px;
    margin-top: 5px;
}

.cabecalho {
    background-image: linear-gradient(#03c2db, #0295a8 , #03b5cc );
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 64px;
    font-size: 32px;
}

*{
    margin: 0;
    padding: 0;
}

.escola-imagem{
    width: 30%;
    margin-left: -1500px;
}

.escola{
    background-image: linear-gradient(#03c2db, #00E0FF, #8ff2ff, #e6fbff00);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

}
